<div class="page-width">
  <h2>Using snipets</h2>
  <div style="border: 1px solid orange;">
    {%- render 'icons'
      , icon: 'tiktok' -%}
  </div>
</div>

{% schema %}
  {
    "name": "Image get links",
    "tag": "section",
    "class": "section",
    "settings": [],
    "blocks": [],
    "presets": [
      {
        "name": "Image get links"
      }
    ]
  }
{% endschema %}