<div style="background-color: red; padding: 20px;"></div>

{% schema %}
  {
    "name": "Product object",
    "tag": "section",
    "class": "section",
    "settings": [],
    "presets": [
      {
        "name": "Product object"
      }
    ]
  }
{% endschema %}